.TodoSearch {
  display: block;
    width: 90%;
    border: none;
    text-align: center;
    height: 50px;
    border-radius: 10px;
    background-color:white;
    color: #454545;
    margin: 10px auto;
    box-shadow: 0 3px 8px rgba(136, 136, 136, 0.24);
    transition: .8S;
    font-family: "Barlow",sans-serif;
    font-weight: normal;
    color: #53565a;
}



.TodoSearch:focus {
  outline-color: #61DAFA;
}
